body {
    overflow-x: hidden; /* Скрывает горизонтальную полосу прокрутки */
    
     
  
}
#footer {
	position: absolute;
	box-sizing: border-box;
	background: #4a12e4;
	padding: 15px;
	color: #aaa;
	font-size: px;
	height: auto;
	line-height: 20px;
	text-align: center;
	visibility: visible;
	font-family: "Manrope regular", system-ui, sans-serif;
	overflow: hidden;
	width: 99vw;
    top: 300vh;
}

.headere {
    position: absolute; /* Позволяет элементу находиться поверх видео */
    background: rgb(1, 14, 70); /* Полупрозрачный фон */
    padding: 500px;
    color: #12123f; /* Измените цвет текста для лучшей видимости */
    font-size: 20px; 
    top: 6vh; /* Расположение заголовка сверху */
    left: 0vw; /* Центрирование по горизонтали */
    width: 42.5vw;
}
.hed{
    position: absolute;
    left: 6vw;
    top: 5vh;
    color: #fff;
    font-size: 52px;
    font-family: "Manrope semibold", system-ui, sans-serif;
}
.hed1{
    position: absolute;
    left: 6vw;
    top: 16vh;
    color: #fff;
    font-size: 40px;
    font-family: "Manrope semibold", system-ui, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.video-container {
    width: 100%;
    max-width: 1000px;
    position: relative; 
}

video {
    width: 100%;
    height: auto;
}


.video-container2 {
    top: -66vh;
    left: 56.6vw;
    width: 450px;
    height: 750px;
    max-width: 1000px;
    position: relative; /* Это важно для позиционирования дочерних элементов */
}

video {
    width: 100%;
    height: auto;
}
.video-container3 {
    top: -123.5vh;
    left: 56.6vw;
    width: 450px;
    height: 750px;
    max-width: 1000px;
    position: relative; /* Это важно для позиционирования дочерних элементов */
}

video {
    width: 100%;
    height: auto;
}
.video-container4 {
    top: -181vh;
    left: 56.6vw;
    width: 450px;
    height: 750px;
    max-width: 1000px;
    position: relative; /* Это важно для позиционирования дочерних элементов */
}

video {
    width: 100%;
    height: auto;
}
.hed2{
    position: absolute;
    left: 0vw;
    top: 77vh;
    color: #fff;
    font-size: 26px;
    font-family: "Manrope semibold", system-ui, sans-serif;
}
.hed3{
    position: absolute;
    left: 0vw;
    top: 88vh;
    color: #fff;
    font-size: 20px;
    font-family: "Manrope semibold", system-ui, sans-serif;
}
.hed4{
    position: absolute;
    left: 0vw;
    top: 108vh;
    color: black;
    font-size: 33px;
    font-family: "Manrope semibold", system-ui, sans-serif;
}
.fot2{
    position: absolute;
    left: 30vw;
    top: 120vh;
background: url('../img/game/fbl-eur-c1-juventus-psv_eindhoven.avif') no-repeat center center; /* Центрируем изображение */
background-size: cover; /* Заполняем элемент изображением */
width: 27.5vw;
height: 30vh;
border-radius: 15px; /* Замените 15px на нужное вам значение */
overflow: hidden; /* Скрываем все, что выходит за пределы элемента */
    }
    .white-background2 {
        position: absolute;
        left: 30vw;
        width: 2.5vw;
        height: -11vh; /* Обратите внимание, что высота не может быть отрицательной */
        background-color: rgb(241, 238, 245); 
        border-radius: 15px; 
        padding: 220px; 
        top: 120vh;
        border: 2px solid rgb(189, 139, 139); /* Добавляем черный контур */
        }
.for2_text{
        position: absolute;
        left: 34vw;
        top: 155vh;
        color: black;
        font-size: 25px;
        font-family: "Manrope semibold", system-ui, sans-serif;
    }
.white-background {
    position: absolute;
    width: 2.5vw;
    height: -11vh; /* Обратите внимание, что высота не может быть отрицательной */
    background-color: rgb(241, 238, 245); 
    border-radius: 15px; 
    padding: 220px; 
    top: 120vh;
    border: 2px solid rgb(189, 139, 139); /* Добавляем черный контур */
    }
.fot1{
    position: absolute;
    left: 0vw;
    top: 120vh;
    background: url('../img/game/stade_brestois_29_v_paris_saint-germain_-_uefa_champions_league_2024_25_league_knockout_play-off_first_leg.avif') no-repeat center center; 
    width: 27.5vw;
    height: 30vh;
    border-radius: 15px; /* Замените 15px на нужное вам значение */
    
}
.for1_text{
    position: absolute;
    left: 5vw;
    top: 155vh;
    color: black;
    font-size: 25px;
    font-family: "Manrope semibold", system-ui, sans-serif;
}

.ggg{
    position: absolute;
    left: 0vw;
    top: 180vh;
    color: black;
    font-size: 33px;
    font-family: "Manrope semibold", system-ui, sans-serif;
}    

.fo3{
        position: absolute;
    left: 0vw;
    top: 190vh;
    background: url('../img/game/800x450.webp') no-repeat center center; /* Центрируем изображение */
    background-size: cover; /* Заполняем элемент изображением */
    width: 27.5vw;
    height: 30vh;
    border-radius: 15px; /* Замените 15px на нужное вам значение */
    overflow: hidden; /* Скрываем все, что выходит за пределы элемента */
        }
.fo3_text{
            position: absolute;
            left: 3vw;
            top: 220vh;
            color: black;
            font-size: 25px;
            font-family: "Manrope semibold", system-ui, sans-serif;
        }
.fo4{
            position: absolute;
        left: 30vw;
        top: 190vh;
        background: url('../img/game/tebas-olmo-ne-dolzhen-zakanchivat-la-ligu-s-barsoj-my-sdelali-ochen-chyotkoe-zayavlenie_17403942031694312139.jpg') no-repeat center center; /* Центрируем изображение */
        background-size: cover; /* Заполняем элемент изображением */
        width: 27.5vw;
        height: 30vh;
        border-radius: 15px; /* Замените 15px на нужное вам значение */
        overflow: hidden; /* Скрываем все, что выходит за пределы элемента */
            }
.fo4_text{
                position: absolute;
                left: 37vw;
                top: 220vh;
                color: black;
                font-size: 25px;
                font-family: "Manrope semibold", system-ui, sans-serif;
}
.fo5{
    position: absolute;
left: 60vw;
top: 190vh;
background: url('../img/game/2000428055_0_0_3168_1782_1920x1080_80_0_0_0d9a347237fa07f1f2ec8a3ca44820a1.jpg') no-repeat center center; /* Центрируем изображение */
background-size: cover; /* Заполняем элемент изображением */
width: 27.5vw;
height: 30vh;
border-radius: 15px; /* Замените 15px на нужное вам значение */
overflow: hidden; /* Скрываем все, что выходит за пределы элемента */
    }
.fo5_text{
        position: absolute;
        left: 61vw;
        top: 220vh;
        color: black;
        font-size: 25px;
        font-family: "Manrope semibold", system-ui, sans-serif;
        white-space: nowrap; /* Не переносить текст */
}    



.end2{
    position: absolute;
left: 39vw;
top: 248vh;
color: black;
font-size: 18px;
font-family: "Manrope semibold", system-ui, sans-serif;
white-space: nowrap; /* Не переносить текст */
}
.reklama1{
    position: absolute;
    left: 17vw;
    top: 255.5vh;
    background: url('../img/reklama/reklama1.avif') no-repeat;
	width: 60vw;
	height: 50vh;
}
.reklama2{
    position: absolute;
    left: 23vw;
    top: 255.5vh;
    background: url('../img/reklama/reklama2.avif') no-repeat;
	width: 60vw;
	height: 50vh;
}
.reklama3{
    position: absolute;
    left: 29vw;
    top: 255.5vh;
    background: url('../img/reklama/reklama3.avif') no-repeat;
	width: 60vw;
	height: 50vh;
}
.reklama4{
    position: absolute;
    left: 35vw;
    top: 255.5vh;
    background: url('../img/reklama/reklama4.avif') no-repeat;
	width: 60vw;
	height: 50vh;
}
.reklama5{
    position: absolute;
    left: 41vw;
    top: 255.5vh;
    background: url('../img/reklama/reklama5.webp') no-repeat;
	width: 60vw;
	height: 50vh;
}
.reklama6{
    position: absolute;
    left: 47vw;
    top: 255.5vh;
    background: url('../img/reklama/reklama6.avif') no-repeat;
	width: 60vw;
	height: 50vh;
}
.reklama7{
    position: absolute;
    left: 53vw;
    top: 255.5vh;
    background: url('../img/reklama/reklama7.avif') no-repeat;
	width: 60vw;
	height: 50vh;
}
.reklama8{
    position: absolute;
    left: 59vw;
    top: 255.5vh;
    background: url('../img/reklama/reklama8.webp') no-repeat;
	width: 60vw;
	height: 50vh;
}
.reklama9{
    position: absolute;
    left: 65vw;
    top: 255.5vh;
    background: url('../img/reklama/reklama9.avif') no-repeat;
	width: 60vw;
	height: 50vh;
}