{% extends 'base.html' %}
{% block content %}
{% load static %}
<link type="text/css" href="{% static 'css/about.css' %}" rel="stylesheet" />
<div class='ss'><p><b>О нас</b></p>
</div>
<div class="white-background">
    <div class="inner-content">
    </div>
</div>
<div class="white-background1">
    <div class="inner-content1">
    </div>
</div>
<div class="white-background2">
    <div class="inner-content2">
    </div>
</div>
<div class="white-background3">
    <div class="inner-content3">
    </div>
</div>
<div class="white-background4">
    <div class="inner-content4">
    </div>
</div>
<div class="white-background5">
    <div class="inner-content5">
    </div>
</div>
<div class="white-background6">
    <div class="inner-content6">
    </div>
</div>
<div class="white-background7">
    <div class="inner-content7">
    </div>
</div><div class="white-background8">
    <div class="inner-content8">
    </div>
</div><div class="white-background9">
    <div class="inner-content9">
    </div>
</div>
<div class="end_txt2"><div>
<div class='end_txt3'><p><b>    
Новый формат Лиги чемпионов</b><br>
Что изменится, что останется прежним,<br> что это значит для болельщиков<br> и как это повлияет на другие клубные<br> соревнования УЕФА</p></div>
<div class="end1"><div>
    <div class='end'><p>
        <b>Где состоится финал 2025 года?</b><br>
        Финал Лиги чемпионов УЕФА 2024/25<br> пройдёт на Мюнхенской<br> футбольной арене.</div>
            <div class="endoff"><div>
                <div class='endoff1'><p>
                    <b>Выступления в Лиге чемпионов</b><br>
        Криштиану Роналду провёл рекордные<br> 183 матча в Лиге чемпионов.</p></div>
        <div class="endoff2"><div>
            <div class='endoff3'><p><b>Подпевайте гимну</b><br>
                Ознакомьтесь с текстом и историей<br> главной песни Лиги чемпионов УЕФА.</p></div>
                <div class="ron"><div>
                    <div class='ronn'><p><b>Лучшие бомбардиры за все <br>время</b><br>
                        Криштиану Роналду и Лионель Месси<br> лидируют, а их товарищ по команде<br> Роберт Левандовски уверенно занимает <br>третье место.</div>
                     <div class="as"></div>
                     <dic class="as1"><p><b>Трофей Лиги чемпионов</b><br>
                        «Возможно, это не шедевр искусства, но<br> все хотят заполучить его» </p></div> 
                        <div class="asss"></div>
                        <div class="asss1"><p><b>Подноготная: Лига чемпионов<br> 2025/26</b><br>
Всё, что вам нужно знать о 71-м сезоне<br> элитного клубного турнира Европы.
                        </div>
                        <div class="qq"></div>
                        <dic class='qq1'><p><b>Правила 2024/25</b><br>
                        Все правила соревнований соблюдены.</p></div>
                        <div class='lloll'></div>
                        <div class='llol'><p><b>Доска почета за все время<br> существования</b><br>
                            «Реал Мадрид» выиграл свой 15-й Кубок<br> европейских чемпионов.</p></div>

                            <div class='lloll1'></div>
                            <div class='llol1'><p><b>даты матчей 2024/25,<br> жеребьевки</b><br> 
                                Каковы даты матчей? Где пройдёт финал <br> 2025 года?</p></div>
                                <div class="end2"><p>Official global sponsors</p></div>
                                <div class="reklama1"></div><div class="reklama2"></div>
                                <div class="reklama3"></div><div class="reklama4"></div>
                                <div class="reklama5"></div><div class="reklama6"></div> 
                                <div class="reklama7"></div><div class="reklama8"></div> 
                                <div class="reklama9"></div>   

{% endblock %}