{% extends 'base.html' %}
{% block content %}
{% load static  %}
<link type="text/css" href="{% static 'css/addpage.css' %}" rel="stylesheet" />
<div class='headers1'><p>Таблица этапов лиги<p></div>
<div class="headers">
    <span class="table-ite"><p>Игры</p></span> 
    <span class="table-ite"><p>Выиграл</p></span>    
    <span class="table-ite"><p>Нарисованный</p></span>    
    <span class="table-ite"><p>Потерянный</p></span>    
    <span class="table-ite"><p>Для</p> </span>      
    <span class="table-ite"><p>Против</p></span> 
    <span class="table-ite"><p>Разница мячей</p></span> 
    <span class="table-ite"><p>Очки</p></span> 
</div>
<p>


{% for tables in table %}
<hr>
<p class="table">
    <div class=''>
    <span class="table-item">{{ tables.name }}</span>
    <span class="table-item">{{ tables.played }}</span>
    <span class="table-item">{{ tables.won }}</span>
    <span class="table-item">{{ tables.drawn }}</span>
    <span class="table-item">{{ tables.lost }}</span>
    <span class="table-item">{{ tables.fors }}</span>
    <span class="table-item">{{ tables.against }}</span>
    <span class="table-item">{{ tables.goal_difference }}</span>
</p>
<div>
{%endfor%}
{%endblock%}
