{% extends 'base.html' %}
{% block content %}
{% load static %}
<link type="text/css" href="{% static 'css/draw.css' %}" rel="stylesheet" />
<div class="oson"></div>
<div class="oson_txt"><p><b>Ничья в 16- м раунде</b></p></div>
<div class="oson_txt1"><p><b>Ньон — пятница, 21 февраля 2025 года, 14:00 — по вашему местному времени</b></p></div>
<div class="vidos">
    <video controls>
        <source src="{% static 'video/vidos.mp4' %}" type="video/mp4">
        Ваш браузер не поддерживает видео.
    </video>
</div>
<div class="vidos_txt"><p>Розыгрыш завершен. Выберите Воспроизведение, чтобы просмотреть его еще раз</p></div>
<div class="result">
 <p><b>Процедура</b></p></div>
 <div class="result1">
    <p><b>Жеребьёвка 1/8 финала,<br> четвертьфинала и полуфинала Лиги<br> чемпионов УЕФА</b></p></div>
 <div class="result2"><p>Пятница, 21 февраля 2025 г.</p></div>          
<div class="result3"><p>21 февраля состоялась жеребьёвка 1/8 финала,<br> четвертьфинала и полуфинала Лиги чемпионов УЕФА<br> сезона 2024/25.</p></div>
<div class="resto"></div>
<div class="result4"><p>В пятницу, 21 февраля, в Доме европейского футбола в Ньоне,<br> Швейцария, состоялась жеребьевка 1/8 финала, четвертьфинала<br>
     и полуфинала Лиги чемпионов УЕФА сезона 2024/25.</p></div>
<div class="road"></div>     
<div class="road_txt"><p><b>Раунд Лиги чемпионов из 16 матчей</b></p></div>
<div class='road_txt1'><p><b>Первые ноги</b></p>
    <div class="road_txt2"><p><b>Вторник, 4 Марта</b></br> 
        Клуб "Брюгге" против "Астон Виллы" <b>(18:45 CET)</b><br>
        Borussia Dortmund vs Lille<br>
        ПСВ против " Арсенала "<br>
        "Реал Мадрид " против " Атлетико " </p>


<div class="road_txt3"><p><b>Среда, 5 Марта</b></br> 
"Фейеноорд" - "Интер" <b>(18:45 CET)</b></br>
Bayern München vs Leverkusen<br>
"Бенфика" - "Барселона"<br>
Париж - Ливерпуль<br>
<div class='road_txt4'><p><b>Вторые ноги</b></p>
<div class='road_txt5'><p><b>Вторник, 11 марта</b><br>
    Барселона - Бенфика <b>(18:45 CET)</b><br>
    "Интер" - "Фейеноорд"<br>
    Leverkusen vs Bayern München<br>
    Ливерпуль - Париж<br>
</div>
<div class="road_tx"><p><b>Среда, 12 Марта</b></br>
Лилль против "Боруссии"<b>(18:45 CET)</b></br>
"Арсенал" против ПСВ<br>
Астон Вилла - Клуб Брюгге<br>
"Атлетико" - "Реал Мадрид"<br>
</div>
<div class='end'><p><b>Предлагается для вас</b></p></div>
<a href="" class='end_txt'></a><a href="" class='end_txt1'></a>
<a href="" class='end_txt2'></a>
<a href="" class="dss"><p><b>Новый формат Лиги чемпионов</b><br>
    Что изменится, что останется прежним,<br> что это значит для болельщиков и как это<br> повлияет на другие клубные<br> соревнования УЕФА.</a>

<a href="" class='dss1'> <p><b>Где состоится финал 2025 года?</b><br>
    Финал Лиги чемпионов УЕФА 2024/25<br> пройдёт на Мюнхенской футбольной арене.
</a>
<a href="" class='dss2'><p><b>Новый формат:</b> Карманный справочник</p></a>
    <div class="end2"><p>Official global sponsors</p></div>
<div class="reklama1"></div><div class="reklama2"></div>
<div class="reklama3"></div><div class="reklama4"></div>
<div class="reklama5"></div><div class="reklama6"></div> 
<div class="reklama7"></div><div class="reklama8"></div> 
<div class="reklama9"></div>   
{% endblock %}