{% extends 'base.html' %}
{% block content %}
{% load static %}
<link type="text/css" href="{% static 'css/game.css' %}" rel="stylesheet" />

<div class="text"><p><b>Новости и советы</b></p> 
<a href='' class='image1'></a>
    <a href='' class='image2'></a><a href='' class='image3'></a>
    <a href='' class='image4'></a><a href='' class='image5'></a>
    <a href='' class='image6'></a><a href='' class='image7'></a>
    <a href='' class='image8'></a><a href='' class='image9'></a>
    <a href='' class='image10'></a><a href='' class='image11'></a>
    <a href='' class='image12'></a><a href='' class='image13'></a>
    <a href='' class='image14'></a><a href='' class='image15'></a>
    <a href='' class='image16'></a><a href='' class='image17'></a>
    <a href='' class='image18'></a><a href='' class='image19'></a>
                    <a href='' class='image20'></a>
{% endblock %}