{% extends 'base.html' %}

{% block content %}
{% load static %}
<link type="text/css" href="{% static 'css/index.css' %}" rel="stylesheet" />


<div class="background-container1">
    <div class='game1'>
        <span class='game1-title'>Полный рабочий день</span>
        <span class='game1-score'>Агг: 1-2</span>
        <span class='game1-win'> Победа "Фейеноорд" </span>
        <span class='game1-team1'>Милан</span><div class='card-team1'><p class='score1'>1</p></div><br>
        <span class='game1-team2'> Фейеноорд</span> <div class='card-team2'></div><p class='score2'>1</p>
    </div>
    <div class='game2'>
    </div>
    <div class='game3'>
    </div>
    <div class='game4'>
    </div>
    <div class='game5'>
    </div>
    <div class='game6'>
    </div>
</div>
<div class="background-container2"></div>




{% endblock %}
