{% extends 'base.html' %}

{% block content %}
{% load static %}
<link type="text/css" href="{% static 'css/index.css' %}" rel="stylesheet" />


<div class="background-container1">
    <div class='game1'>
        <span class='game1-title'>Полный рабочий день</span>
        <span class='game1-score'>Агг: 1-2</span>
        <span class='game1-win'> Победа "Фейеноорд" </span>
        <span class='game1-team1'>Милан</span><div class='card-team1'><p class='score1'>1</p></div><br>
        <span class='game1-team2'> Фейеноорд</span> <div class='card-team2'></div><p class='score2'>1</p>
    </div>
    <div class='game2'>
        <span class='game2-title'>4 марта, 20:45</span><br><br>
        <img class='Brugge' src='static/img/img.emblem/brugge.png'><span class='game2-team1'> Клуб " Брюгге " </span><br>
        <img class='Aston' src='static/img/img.emblem/aston_vila.png'><div class='Aston'></div><span class='game2-team2'> Астон Вилла </span>
    </div>
    <div class='game3'>
        <span class='game3-title'>4 марта, 23:00</span><br><br>
        <img class='dortmund' src='static/img/img.emblem/dortmund.png'><div class='dortmund'></div><span class='game3-team1'>Б.Дортмунд</span><br>
        <img class='lille' src='static/img/img.emblem/lille.png'><div class='lille'></div><span class='game3-team2'>Лиле</span>
    </div>
    <div class='game4'>
        <span class='game4-title'>4 марта, 23:00</span><br><br>
        <img class='Psv' src='static/img/img.emblem/psv.png'><div class='Psv'></div><span class='game4-team1'>Псв</span><br>
        <img class='Arsenal' src='static/img/img.emblem/arsenal.png'><div class='Arsenal'></div><span class='game4-team2'>Арсенал</span>
    </div>
    <div class='game5'>
        <span class='game5-title'>4 марта, 23:00</span><br><br>
        <img class='Real' src='static/img/img.emblem/real.png'><div class='Real'></div><span class='game5-team1'>Реал Мадрид</span><br>
        <img class='Atlet' src='static/img/img.emblem/atletiko.png'><div class='Atleti'></div><span class='game5-team2'>Атлеты</span>
    </div>
</div>
<div class="background-container2">
    <img class='IconRenderOutput-0' id="icon" src="static/img/IconRenderOutput.webp">
    <img class='IconRenderOutput-1' id="icon" src="static/img/IconRenderOutput (1).webp">
    <img class='IconRenderOutput-2' id="icon" src="static/img/IconRenderOutput (2).webp">
    <img class='IconRenderOutput-3' id="icon" src="static/img/IconRenderOutput (3).webp">
    <img class='IconRenderOutput-4' id="icon" src="static/img/IconRenderOutput (4).webp">
    <img class='IconRenderOutput-5' id="icon" src="static/img/IconRenderOutput (5).webp">
    <img class='IconRenderOutput-6' id="icon" src="static/img/IconRenderOutput (6).webp">
    <img class='IconRenderOutput-7' id="icon" src="static/img/IconRenderOutput (7).webp">
    <img class='IconRenderOutput-8' id="icon" src="static/img/IconRenderOutput (8).webp">
    <img class='IconRenderOutput-9' id="icon" src="static/img/IconRenderOutput (9).webp">
    <img class='IconRenderOutput-10' id="icon" src="static/img/IconRenderOutput (10).webp">
    <img class='IconRenderOutput-11' id="icon" src="static/img/IconRenderOutput (11).webp">

    <img class='bracket' src='static/img/ucl_bracket_predictor_16x9.webp'>
    <div class='title'>
        <h2 class="title_name">Заголовки</p></div>
        <img class='title_first' src="static/img/ooo.avif">
        <h2 class="first_title_name">Первые матчи: На что обратить <br>внимание</h2>
        <hr class="line1">
        <img class='title_second' src="static/img/looaa.avif">
        <h2 class="second_title_name">Познакомьтесь с последними 16</h2>
        <hr class="line2">
        <img class='title_third' src="static/img/bayer.avif">
        <h2 class="third_title_name">Руководство по форме Лиги <br>чемпионов</h2>
        <hr class="line3">
        <img class='title_fourth' src="static/img/ucl_bracket_approved.avif">
        <h2 class="fourth_title_name">Посмотрите на нокаутирующую <br>скобку</h2>
        <hr class="line4">
        <img class='title_fifth' src="static/img/poo.avif">
        <h2 class="fifth_title_name">Смотрите все голы этого сезона</h2>
    </div>
<div class='white'>
    <p class="moments">Мгновения</p>
    <img class='shorts' src="static/img/photo_2025-03-01_14-16-55.jpg">
    <h2 class="last_news">Последние новости</h2>
    <video class="video" controls autoplay muted>
        <source src="{% static 'video/leao.mp4' %}" type="video/mp4">
        Ваш браузер не поддерживает видео.
    </video>
</div>



{% endblock %}
