{% extends 'base.html' %}

{% block content %}
{% load static %}
<link type="text/css" href="{% static 'css/index.css' %}" rel="stylesheet" />


<div class="background-container1">
    <div class='game1'>
        <span class='game1-title'>Полный рабочий день</span>
        <span class='game1-score'>Агг: 1-2</span>
        <span class='game1-win'> Победа "Фейеноорд" </span>
        <span class='game1-team1'>Милан</span><div class='card-team1'><p class='score1'>1</p></div><br>
        <span class='game1-team2'> Фейеноорд</span> <div class='card-team2'></div><p class='score2'>1</p>
    </div>
    <div class='game2'>
        <span class='game2-title'>4 марта, 20:45</span><br><br>
        <img class='Brugge' src='static/img/img.emblem/arsenal.png'><span class='game2-team1'> Клуб " Брюгге " </span><br>
        <div class='Aston'></div><span class='game2-team2'> Астон Вилла </span>
    </div>
    <div class='game3'>
        <span class='game3-title'>4 марта, 23:00</span><br><br>
        <div class='dortmund'></div><span class='game3-team1'>Б.Дортмунд</span><br>
        <div class='lille'></div><span class='game3-team2'>Лиле</span>
    </div>
    <div class='game4'>
        <span class='game4-title'>4 марта, 23:00</span><br><br>
        <div class='Psv'></div><span class='game4-team1'>Псв</span><br>
        <div class='Arsenal'></div><span class='game4-team2'>Арсенал</span>
    </div>
    <div class='game5'>
        <span class='game5-title'>4 марта, 23:00</span><br><br>
        <div class='Real'></div><span class='game5-team1'>Реал Мадрид</span><br>
        <div class='Atleti'></div><span class='game5-team2'>Атлеты</span>
    </div>
</div>
<div class="background-container2"></div>




{% endblock %}
