{% extends 'base.html' %}
{% block content %}
{% load static %}
<link type="text/css" href="{% static 'css/statistic.css' %}" rel="stylesheet" />
<div class="fon"></div>
<div class="fon_txt"><p><b>Статистика турнира 2024/25</b></p></div>
<div class="f"></div>
<div class='f1'></div>   
<div class='f2'><p>Статистика клуба</p></div> 
<div class='f3'></div><div class='f4'></div><div class='f5'></div>
<div class='f6'></div><div class='f7'></div>
<div class='fa2'><p>Статистика игрока</p></div> 
<div class='fa3'></div><div class='fa4'></div><div class='fa5'></div>
<div class='fa6'></div><div class='fa7'></div>
<div class="end2"><p>Official global sponsors</p></div>
<div class="reklama1"></div><div class="reklama2"></div>
<div class="reklama3"></div><div class="reklama4"></div>
<div class="reklama5"></div><div class="reklama6"></div> 
<div class="reklama7"></div><div class="reklama8"></div> 
<div class="reklama9"></div>   
{% endblock %}