{% extends 'base.html' %}
{% block content %}
{% load static  %}

<link type="text/css" href="{% static 'css/team.css' %}" rel="stylesheet" />
<div class="block">
<div class='pop'><p>Teams</p> </div><div class='pop2'><p>Round of 16</p> </div><div class="arsenal"></div>
<div class="arsenal_text"><p>Arsenal</p></div><div class="aston"></div><div class="aston_text"><p>Aston Villa</p></div>
<div class="atletiko"></div><div class="atletiko_text"><p>Atleti</p></div><div class="dortmund"></div>
<div class="dortmund_text"><p>B.Dortmund</p></div><div class="barcelona"></div><div class="barcelona_text"><p>Barcelona</p></div>
<div class="bayern"></div><div class="bayern_text"><p>Bayern München</p></div><div class="benfica"></div>
<div class="benfica_text"><p>Benfica</p></div><div class="brugge"></div><div class="brugge_text"><p>Club Brugge</p></div>
<div class="feen"></div><div class="feen_text"><p>Feyenoord</p></div><div class="inter"></div>
<div class="inter_text"><p>Inter</p></div><div class="leverkusen"></div><div class="leverkusen_text"><p>Leverkusen</p></div>  
<div class="lille"></div><div class="lille_text"><p>Lille</p></div><div class="liverpool"></div>
<div class="liverpool_text"><p>Liverpool</p></div><div class="paris"></div><div class="paris_text">Paris</div>    
<div class="psv"></div><div class="psv_text">Psv</div>   <div class="real"></div>
<div class="real_text">Real Madrid</div> <div class="pop3"><p>Knockout phase play-offs</p></div> 
<div class="atalanta"></div><div class="atalanta_text">Atalanta</div><div class="brest"></div>
<div class="brest_text">Brest</div><div class="celtic"></div><div class="celtic_text">Celtic</div>
<div class="juventus"></div><div class="juventus_text">Juventus</div><div class="mansiti"></div>
<div class="mansiti_text">Man Sity</div><div class="milan"></div><div class="milan_text">Milan</div>
<div class="monaco"></div><div class="monaco_text">Monaco</div><div class="sporting"></div>
<div class="sporting_text">Sporting CP</div><div class="pop4"><p>League phase</p></div>
<div class="bologna"></div><div class="bologna_text">Bologna</div><div class="crvena"></div>
<div class="crvena_text">Crvena Zvezda</div><div class="girona"></div>
<div class="girona_text">Girona</div><div class="dinamo"></div><div class="dinamo_text">GNK Dinamo</div>
<div class="leipzig"></div><div class="leipzig_text">Leipzig</div><div class="bratislava"></div>
<div class="bratislava_text">S. Bratislava</div><div class="salzburg"></div><div class="salzburg_text">Salzburg</div>
<div class="sahktar"></div><div class="sahktar_text">Sahktar</div><div class="sparta"></div><div class="sparta_text">Sparta Praha</div> 
<div class="sturm"></div><div class="sturm_text">Sturm Graz</div><div class="stuttgart"></div><div class="stuttgart_text">Sturm Graz</div>
<div class="young"></div><div class="young_text">Young</div><div class="pop5"><p>Play-offs</p></div>     
<div class="bodo"></div></div><div class="bodo_text">Bodø/Glimt</div><div class="dynamo"></div></div><div class="dynamo_text">Dynamo Kyiv</div>
<div class="galatasaray"></div></div><div class="galatasaray_text">Galatasaray</div><div class="malmo"></div></div><div class="malmo_text">Malmö</div>   
<div class="midtjylland"></div></div><div class="midtjylland_text">Midtjylland</div><div class="qarabaq"></div>
</div><div class="qarabaq_text">Qarabağ</div><div class="slavia"></div></div><div class="slavia_text">Slavia Praha</div>        
<div class="pop6"><p>Third qualifying round</p><div class="apoel"></div><div class="apoel_text">APOEL</div> 
<div class="fscb"></div><div class="fscb_text">FSCB</div><div class="fener"></div><div class="fener_text">Fenerbahçe</div>
<div class="feren"></div><div class="feren_text">Ferencvárosi</div>
<div class="jagiell"></div><div class="jagiell_text">Jagiellonia</div>
<div class="ludo"></div><div class="ludo_text">Ludogorets</div><div class="paok"></div><div class="paok_text">PAOK</div> 
<div class="rangers"></div><div class="rangers_text">Rangers</div><div class="twente"></div><div class="twente_text">Twente</div>
<div class="union"></div><div class="union_text">Union </div>          
</div>
<hr>
<div class="end"><p>The list above is provisional, based purely on sporting performance and does not account for any potential disciplinary or licensing matter.
     All Russian teams are suspended from participation in UEFA competitions until further notice.</p></div>
<div class="end2"><p>Official global sponsors</p></div>
<div class="reklama1"></div><div class="reklama2"></div>
<div class="reklama3"></div><div class="reklama4"></div>
<div class="reklama5"></div><div class="reklama6"></div> 
<div class="reklama7"></div><div class="reklama8"></div> 
<div class="reklama9"></div>                 
{% endblock %}